*{
  border: 0px solid black;
}

body{
    border: 0px solid black;
    margin: 0;
    background-color: black;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  }

body::-webkit-scrollbar {
    width: 5px;
    height: 8px;
    background-color: #dee3ed; /* or add it to the track */
  }
  
  /* Add a thumb */
body::-webkit-scrollbar-thumb {
    background: #8f96a3;
  } 

#museu-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
}
#video-sections{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
#player {
  position: fixed;
  margin: 1%;
  /*position: sticky; 
  top: 0%;
  left: 0%; */
  height: 100vh;
  width: 100vw;
}
p font-family helvetica {
  font-size: 24px;
}
#time {
  position: fixed;
  display: block;
  top: 10px;
  right: 10px;
  z-index: 2;
  width: 10px;
  height: 10px;
  border-radius: 20px;
  background-color: rgba(0,0,255,0.5);
}
#scroll {
  position: fixed;
  display: block;
  top: 10px;
  right: 10px;
  z-index: 2;
  width: 10px;
  height: 10px;
  border-radius: 20px;
  background-color: rgba(255,0,0,0.5);
}

#video-sections{
  position: relative;
  right: 5%;
}
.video-section-container {
  z-index: 2;
  position: relative;
}

.video-section-content {
  position: sticky;
  position: -webkit-sticky;
  width: 100%;
  top: 33.3%;
}

h1 {
  font-size: 3em;
  background: #fff;
  display: inline-block;
  padding: 10px 15px;
  border-radius: 5px;
  margin: 0;
  cursor: pointer;
}
h1 p { 
  font-size: 1.5rem;
}

.video-section-container:nth-of-type(1) {
  top: 0px;
  height: 600px;
}
.video-section-container:nth-of-type(2) {
  top: 8700px;
  height: 600px;
}
.video-section-container:nth-of-type(3) {
  top: 10000px;
  height: 600px;
}
.video-section-container:nth-of-type(4) {
top: 11200px;
height: 600px;
}
.video-section-container:nth-of-type(5) {
top: 12700px;  
height: 600px;
}
.video-section-container:nth-of-type(6) {
top: 14200px;
height: 600px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 3; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto; /* 15% from the top and centered */
  padding: 10px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 56px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal img{
  height: 100vh;
  width : 100vw;
}

.zoomC {
  /* (A) DIMENSIONS */
  width: 70vw;
  height: 80vh;
 
  /* (B) BACKGROUND IMAGE */
  background: url("./img/painel1.png");
  background-position: center;
  background-size: cover;
}