
#music-player {
  opacity: 0.2;
  position: fixed;
  background-color: white;
  width: 90%;
  max-width: 30%;
  z-index: 2;
  border-radius: 5px;
  margin-top: 2%;
  margin-left: 1%;
  transition: all .2s ease-in;
  transform: translateX(-80%);
}
#music-player:hover{
  opacity: 1;
  transform: translateX(0);
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  padding: 2%;
}

.title {
  margin: 0px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 12px;
}
.title h5{
  color: var(--primary);
  font-size: 20px;
  font-weight: bold;
  margin: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0;
}
.artist{
  margin-top: 0;
}

audio {
  width: 100%;
  margin-top: 30px;
}


#player-controls {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 0px;
  margin-top: -15px;
}

.duration{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-right: 40px;
}

#seekbar{
  margin-right: 50px;
  width: 100%;
}

#current-duration, 
#total-duration{
padding-bottom: 5px;
}

#total-duration{
  margin-left: 5px;
}
#volume-control{
  width: 50px;
}

#volume-icon {
  color: var(--primary);
  transform: translateY(3px);
}

#mute_button{
  width: 20px;
  height: 20px;
  /* padding: 20px; */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  padding-bottom: 10px;
  cursor: pointer;
  border-radius: 50%;

}

.player_button{
  border-radius: 50%;
  width: 40px;
  height: 40px;
  /* padding: 20px; */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-left: 20px;
  margin-right: 20px;
  cursor: pointer;
}

.player_button:active{
  background-color: #bdbbbb;
}

/* Chrome */
input[type="range"]::-webkit-slider-thumb {
  background: #dee3ed
}

/* Mozilla */
input[type="range"]::-moz-range-thumb {
  background: #dee3ed
}

/* Internet Explorer, Edge */
input[type="range"]::-ms-thumb {
  background: #dee3ed
}

.change-tracks {
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

*{
  border: 0px solid rgb(89, 0, 255);
}

body{
    border: 0px solid black;
    margin: 0;
    background-color: black;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  }

body::-webkit-scrollbar {
    width: 5px;
    height: 8px;
    background-color: #dee3ed; /* or add it to the track */
  }
  
  /* Add a thumb */
body::-webkit-scrollbar-thumb {
    background: #8f96a3;
  } 

#museu-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
}
#video-sections{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: relative;
  right: 5%;
}
#player {
  position: fixed;
  margin: 0%;
  /*position: sticky; 
  top: 0%;
  left: 0%; */
  height: 100vh;
  width: 100vw;
}
p font-family helvetica {
  font-size: 24px;
}

.video-section-container {
  top:240px;
  z-index: 2;
  position: relative;
  max-width: 50vw;
}

.video-section-container-home{
  top:240px;
  z-index: 2;
  position: relative;
  max-width: 80vw;
}


.video-section-container-home {
  top:240px;
  z-index: 2;
  position: relative;
}

.video-section-content {
  position: sticky;
  position: -webkit-sticky;
  width: 100%;
  top: 33.3%;
}

.video-section-content h1 {
  font-size: 3em;
  background: #fff;
  display: inline-block;
  padding: 10px 15px;
  border-radius: 5px;
  margin: 0;
  cursor: pointer;
}
.video-section-content h1 p { 
  font-size: 1.5rem;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 3; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 2% auto; /* 15% from the top and centered */
  padding: 10px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 56px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.zoomC {
  /* (A) DIMENSIONS */
  width: 70vw;
  height: 85vh;
 
  /* (B) BACKGROUND IMAGE */
  background-position: center;
  background-size: cover;
}

#turn{
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 16px;
}

/* (A) WRONG ORIENTATION - SHOW MESSAGE HIDE CONTENT */
@media only screen and (orientation:portrait) {
  #turn { display:flex; }
  #museu-container { display:none; }
}
 
/* (B) CORRECT ORIENTATION - SHOW CONTENT HIDE MESSAGE */
@media only screen and (orientation:landscape) {
  #turn { display:none; }
  #museu-container { display:flex; }
}