* { 
  border: 0px solid black;
}
.App {
  text-align: start;
}

.App-body{
  /* background-color: rgb(241, 236, 236); */
  background-image: linear-gradient(to left top,  #3b3b3b, #777777, #b9b9b9, #ffffff);
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  font-size: calc(10px + 2vmin);
  color: black;
  padding-left: 0%;
}

@media (max-width:1000px){
  .App-body{
    flex-direction: column;
    justify-content: center;
  }
}
