.container {
    position: relative;
    text-align: center;
    border: 1px solid black;
  }

.content{
    position: absolute;
    top: 8px;
    right: 16px;
    color: black;
    max-width: 30%;
    
    -webkit-animation: fadein 2s;
}
.name{
    
}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
.description{
    font-size: medium;
    text-align: start;
    
    -webkit-animation: fadein 3s;
}
model-viewer{
    width: 910px;
    height: 650px;
}
