.model-viewer-container {
    /* position: relative; */
    text-align: center;
    border: 0px solid black;
  }

.toggle-poster{
    border: 2px solid darkgrey;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 5%;
    width: 33px;
    height: 33px;
    left: 38vw;
    border-radius: 100%;
    cursor: pointer;
}
.toggle-poster:active{
    background-color: darkgray;
}

#content{
    position: absolute;
    top: 5%;
    right: 16px;
    color: black;
    width: 30vw;
    
    -webkit-animation: fadein 2s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
.description{
    font-size: calc(2.7px + 2vmin);
    text-align: start;
    
    -webkit-animation: fadein 3s;
}
model-viewer{
    width: 80vw;
    height: 100vh;
}

/* @media (max-width:1000px){
    #content{
        top: 0px;
        width: 70%;
    }
    .toggle-poster{
        position: absolute;

        left: 1%;

        bottom: -35%;
    }
    model-viewer{
        width: 100vw;
        height: 80vh;
    }
  }
   */
