.model-selection-container{
  overflow-y: auto;
  overflow-x: hidden;
}

.model-selection-container::-webkit-scrollbar {
  width: 5px;
  height: 8px;
  background-color: #dee3ed; /* or add it to the track */
}

/* Add a thumb */
.model-selection-container::-webkit-scrollbar-thumb {
  background: #8f96a3;
}


.btn {
  box-sizing: border-box;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: transparent;
  border: 2px solid #e74c3c;
  border-radius: 0.5em;
  color: black;
  cursor: pointer;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  margin: 20px;
  padding: 1.2em 2.8em;
  text-decoration: none;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  min-width: 350px;
}
.btn:hover{
  color: #fff;
  outline: 0;
}

.first {
  -webkit-transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
  transition: box-shadow 300ms ease, color 300ms ease;
}
.first:hover{
  box-shadow: 0 0 40px 40px #e74c3c inset;
  color:#fff;
}


.sub{
  margin-left: 60px;
}
