.panel{
    background-color: transparent;
    display: flex;
    flex-direction: column;
    max-width: 500px;
    height: 600px;
  }

  .title{
    margin-bottom: 10%;
  }

  @media (max-width:700px){
    .panel{
      justify-content: center;
    }
  }