* {
  border: 1px solid black
}

.home-container{
  text-align: center;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    -webkit-animation: fadein 1.5s;
}

.home-title{
    font-size: 64px;
    /* margin; */
}

.pages{
    display: flex;
    flex-direction: row;
    margin-top: 2%;
    margin-bottom: 10%;
    width: 60%;
}

.home-btn {
    box-sizing: border-box;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    background-color: transparent;
    border: 2px solid #e74c3c;
    border-radius: 0.5em;
    color: black;
    cursor: pointer;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    -webkit-align-self: center;
        -ms-flex-item-align: center;
            align-self: center;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1;
    margin: 20px;
    padding: 1.2em 2.8em;
    text-decoration: none;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    width: 100%;
  }
  .home-btn:hover{
    color: #fff;
    outline: 0;
  }
  
  .first {
    -webkit-transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
    transition: box-shadow 300ms ease, color 300ms ease;
  }
  .first:hover{
    box-shadow: 0 0 40px 40px #e74c3c inset;
    color:#fff;
  }

  @media (max-width:700px){
    .pages{
      flex-direction: column;
    }
  }